.app {
  margin: 50px;
}

.app__title {
  margin-bottom: 50px;
}

.seismograph {
  fill: white;
  overflow: visible;
}

.marker .markerpath {
  stroke: white;
}

.markertext polygon {
  fill: #61dafb;
  opacity: .4;
}
